# Git
.git
.gitignore

# Dependencies
node_modules
frontend/node_modules

# Build artifacts
frontend/dist

# Logs
*.log
.logs
.pids

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Documentation
docs

# Tests
backend/tests
backend/main_test.ts
